# Coding Temple's Data Analytics Program
---
## MySQL Python Connector

### Part 1: Installs
To begin with, we will need to install the mysql connector. Sometimes, we will also be required to make another pip install to ensure the module works properly

In [1]:
# Pip installs
# If you need to run these installs, just uncomment each
! python -m pip install mysql-connector-python

# May sometimes need this installed as well in order for mysql to properly communicate with your program
! python -m pip install mysqlclient

Requirement already satisfied: mysql-connector-python in c:\users\bioni\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\bioni\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from mysql-connector-python) (4.21.12)

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: C:\Users\bioni\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Requirement already satisfied: mysqlclient in c:\users\bioni\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.2.0)

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: C:\Users\bioni\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [2]:
import mysql.connector
from os import getenv
from dotenv import load_dotenv

## Part 2: Interacting with a MySQL Database
In order to work with our database, we will want to use the import from above and connect to the mysql server. Once we are connected, we will create a cursory object and loop through each database:

### Create the Connection

In [3]:
load.dotenv(r'')

NameError: name 'load' is not defined

### Create Schema

Now that we have verified our connection and looked at the available database schemas we can work with, we need to interact with one of these specific schema. Let's create one now to use together:

In [ ]:
cur.executor('SHOW DATABASES')
for x in cur:
    print(x)

Let's verify that the new schema has been added to our database:

### Connect to DataBase

Perfect! Looks like this now exists within our databases. Let's connect to it now

In [ ]:
database = getenv('DATABASE')
mydb = myslq.connector.connect(user=user, password=password, host=host, database=database)

cur=mydb.cursor()
for x in cur:
    print(x)

### Create Tables

Since we just created this schema, we would have no tables present within it. So, we will making them in Python!

In [ ]:
# Using the cursor object, we execute a sql command:
cur.execute('CREATE TABLE IF NOT EXISTS sales(purchase_id INT, movie_title VARCHAR(500), purchase_total NUMERIC(8,2))')

# Commit the changes made by us to the database
# If we don't do this, our changes will not save!!
mydb.commit()

### Insert Data

Great. We have successfully created a table using MySQL in Python! Now, our next step is to insert data into this table.

In [ ]:
cur.execute('INSERT INTO sales VALUES(01, "Hocus Pocus", 17.99)')
cur.execute('INSERT INTO sales VALUES(02, "Die Hard", 22.99)')
cur.execute('INSERT INTO sales VALUES(03, "Kung Foo Panda", 17.99)')

In [ ]:
mydb.commit()

In [ ]:
cur.execute('''SELECT * FROM sales''')
for x in cur:
    print(x)

In [ ]:
# add in a qty column? Create it as 
cur.execute("ALTER TABLE sales ADD quantity INT")
mydb.commit()

# Verify my alteration has been completed
cur.execute('''SELECT * FROM sales''')
for x in cur:
    print(x)

In [ ]:
# Drop
cur.execute("ALTER TABLE sales DROP quantity")
mydb.commit()

### Building it into a Class

How can we take the things we have learned about and transform them into a functional object that can be inserted into a program or a pipeline?

Let's build a class out of it!

In [ ]:
# Create a class
class MySQLCon:
    def __init__(self):
    self.__con = mysql.connector.connect(user='Andrew', password = 'xxxxxxxxx!', host =  , database = 'bonfire_mysql_connector')
    self.__cur = self.__cur.cursor()

def execute_command(self, sql.command):
    self.__cur(sql_command)
    self.__con.commit()
    self.__con.close()


def show_info(self, sql_command):
    self.__cur.execute(sql_command)
    for x in self.cur:
        yield x
    self.__con.close()

c = MySQLCon()
c.execute_command('CREATE TABLE IF NOT EXISTS students(student_id, class VARCHAR(100), grade VARCHAR(5))')

In [ ]:
for x in c.show_info('SHOW TABLES'):
    print(x)