# Coding Temple's Data Analytics Program
---
## Intro to Pandas Assignment
---

### Imports

In [3]:
import pandas as pd
import numpy as np

### Exercise #1: Read in the Data
For this assignment, you will want to use the Boston RedSox data from earlier today. Practice reading this into a DataFrame object using Pandas

In [15]:
df = pd.read_csv(r'C:\Users\bioni\OneDrive\Documents\GitHub\Coding_Temple\Week 3\Data\redsox_2017_hitting.txt')
df
bsr2018 = pd.read_csv(r'C:\Users\bioni\OneDrive\Documents\GitHub\Coding_Temple\Week 3\Data\redsox_2018_hitting.txt')

### Exercise #2 - Find the Total Number of Runs and RBIs for the Red Sox <br>
<p>Get total number of home runs and rbi's</p>

In [16]:
df

df.filter([ 'HR', 'RBI']).sum()
# RBI = bsr2017.filter(['RBI']).sum()
# print(f'The total number of:{HR}')
# print(f'The total number of:{RBI}')

HR     168
RBI    735
dtype: int64

In [17]:
{df['HR'].sum()}

{168}

### Exercise #3: Grouping
Find the 5 players with the highest `OPS+`

In [18]:
# OPS = bsr2017.filter(['Name', 'OPS+'])
# OPS
sort_ops = df.sort_values('OPS+',ascending=False)
top_sort = sort_ops.filter(['Name', 'OPS+'])
top_sort.head(5)

                 Name  OPS+
22     Chase d'Arnaud   428
12      Eduardo Nunez   128
4       Rafael Devers   111
7        Mookie Betts   108
5   Andrew Benintendi   102

### Exercise #4: To SQL
In this exercise, you will send your dataframe objects to an elephantSQL instance. Once you have successfully uploaded your dataframes, load them into a new dataframe using the `read_sql_table()` function.

In [11]:
con = 'postgresql://dzzygqkw:p97VB8uIkK-RsxzXDTpq8ho7QPnKCeuQ@bubble.db.elephantsql.com/dzzygqkw'

In [19]:
df.to_sql(
    'BoSox Pandas', index=False, con=con, if_exists='replace')

23