![](https://miro.medium.com/v2/resize:fit:749/1*DN0iewN5WFWgrXs5s5cLjQ.jpeg)

In [6]:
import pandas as pd
# import psycopg2-binary

In [7]:
titanic =pd.read_csv('https://raw.githubusercontent.com/lucchesia7/coding-temple-da-sql-day-1/main/day_1/data/titanic.csv')

titanic.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses_Aboard,Parents/Children_Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

In [13]:
titanic.columns = titanic.columns.str.lower().str.replace('/', '_')

In [9]:
connection = 'postgresql://ypmehdbr:UX7DR9Czim70zHGp1OpMsOsIMkSmXQxK@bubble.db.elephantsql.com/ypmehdbr'

In [15]:
#titanic.to_sql('titanic', con= connection, if_exists= 'fail')

### Question 1: Count how many rows you have.
```sql

SELECT count(*) FROM titanic

```

Answer: 887

### Question 2: How many people survived?

```sql
SELECT SUM(survived) FROM titanic

```
Answer: 342

### Question 3: What passenger class has the largest population?
```sql
SELECT pclass, COUNT(pclass) AS pclass_count FROM titanic
GROUP BY pclass
ORDER BY pclass_count
DESC
LIMIT 1

```

Answer: 3rd class: 487