# Coding Temple's Data Analytics Program
---
## Python for Data Analytics: Stats Assignment

For today's homework, you will be working with AB Testing Dataset. This data was scraped from a study conducted by Udemy. The study was to determine if there was a relationship with the number of clickthroughs and webtext that was displayed. 

Your goal is to analyze the data that was collected during this study and determine whether or not there is a relationship between the two variables.

### Task 1: Imports
Import your data and your libraries needed to complete this assignment:

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from category_encoders import OneHotEncoder, OrdinalEncoder
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score, roc_auc_score
from sklearn.model_selection import train_test_split, RandomizedSearchCV
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder
from xgboost import XGBClassifier, XGBRegressor

df = pd.read_csv(r'C:\Users\bioni\OneDrive\Documents\GitHub\Coding_Temple\Week 4\Assignments\ab_testing.csv')

In [3]:
df.head()

   Unnamed: 0  Pageview    Group  Click
0           0         0  Control      1
1           1         1  Control      1
2           2         2  Control      1
3           3         3  Control      1
4           4         4  Control      1

In [12]:
df.drop(['Unnamed: 0'], axis= 1, inplace= True)

In [17]:
df.describe().round(2)

        Pageview      Click
count  690203.00  690203.00
mean   172550.53       0.08
std     99622.78       0.27
min         0.00       0.00
25%     86275.00       0.00
50%    172550.00       0.00
75%    258825.50       0.00
max    345542.00       1.00

### Task 2: Creating Hypothesis

Before you begin working with the data, formulate your null and alternative hypothesis in the markdown cell below:

H0: The webtext  doesn't affect click-through conversion rate.

H1: The amount of webtext does affect click-through conversion rates.

### Task 3: Calculating Frequencies

In this task, you will calculate your frequency and your relative frequency of the `group` column

Next, let's calculate the frequency and relative frequency of the `click` column:

### Task 4a: 

Look at the joint distribution of the `group` and `click` columns and make an inference on if there is a relationship between the group and clicks

### Task 4b:

Calculate the marginal distribution of the `group` and `click` variables:

### Task 4c:
Calculate the conditional distribution of the `group` and `click` variables:

### Task 5:

Perform a chi-squared test on your data. Interpret and communicate the results in a markdown cell below your code